.vscode
*__pycache__*
.venv
*.pyc
*.npy
*.ply
*.png
*.jpg
*.npz
*.pdf
*.csv
*.obj
*.bin
build/*
install/*
log/*
*.tar.gz
*.pt
*.zip
*build
!src/mvdb/testdata/*.csv
*.log
!discrete_colors/*.csv
!discrete_vectors/*.csv